@model BoekenApplicatie.Web.ViewModels.BooksViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>BooksViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
      <form asp-action="Edit">
        <input type="hidden" asp-for="TitleId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="TitleName"></label>
          <input asp-for="TitleName" class="form-control"/>
          <span asp-validation-for="TitleName" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="SeriesName"></label>
          <input asp-for="SeriesName" class="form-control"/>
          <span asp-validation-for="SeriesName" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Language"></label>
          <select asp-for="Language" asp-items="Html.GetEnumSelectList<BoekenApplicatie.Domain.Models.Language>()"></select>
          <span asp-validation-for="Language" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Author"></label>
          <select asp-for="AuthorId" asp-items="Model.Authors"></select>
          <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="ReleasedYear"></label>
          <input asp-for="ReleasedYear" class="form-control"/>
          <span asp-validation-for="ReleasedYear" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Publisher"></label>
          <select asp-for="PublisherId" asp-items="Model.Publishers"></select>
          <span asp-validation-for="Publisher" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Isbn"></label>
          <input asp-for="Isbn" class="form-control"/>
          <span asp-validation-for="Isbn" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="SerialNumber"></label>
          <input asp-for="SerialNumber" class="form-control"/>
          <span asp-validation-for="SerialNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Edition"></label>
          <input asp-for="Edition" class="form-control"/>
          <span asp-validation-for="Edition" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Price"></label>
          <input asp-for="Price" class="form-control"/>
          <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Part"></label>
          <input asp-for="Part" class="form-control"/>
          <span asp-validation-for="Part" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Genre"></label>
          <select asp-for="Genre" asp-items="Html.GetEnumSelectList<BoekenApplicatie.Domain.Models.Genre>()"></select>
          <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Category"></label>
          <select asp-for="Category" asp-items="Html.GetEnumSelectList<BoekenApplicatie.Domain.Models.Category>()"></select>
          <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="OriginalTitle"></label>
          <input asp-for="OriginalTitle" class="form-control"/>
          <span asp-validation-for="OriginalTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="OriginalLangage"></label>
          <select asp-for="OriginalLangage" asp-items="Html.GetEnumSelectList<BoekenApplicatie.Domain.Models.Language>()"></select>
          <span asp-validation-for="OriginalLangage" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="OriginalReleasedYear"></label>
          <input asp-for="OriginalReleasedYear" class="form-control"/>
          <span asp-validation-for="OriginalReleasedYear" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Translator"></label>
          <select asp-for="TranslatorId" asp-items="Model.Translators"></select>
          <span asp-validation-for="Translator" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Artist"></label>
          <select asp-for="ArtistId" asp-items="Model.Artists"></select>
          <span asp-validation-for="Artist" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="YearBought"></label>
          <input asp-for="YearBought" class="form-control"/>
          <span asp-validation-for="YearBought" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="PriceBought"></label>
          <input asp-for="PriceBought" class="form-control"/>
          <span asp-validation-for="PriceBought" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="PriceReason"></label>
          <input asp-for="PriceReason" class="form-control"/>
          <span asp-validation-for="PriceReason" class="text-danger"></span>
        </div>
        <div class="form-group">
          <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
      </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

