@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <h2>Wat kan je hier allemaal</h2>
        <ul>
            <li>Test shizzle</li>
            <li>Test test</li>
        </ul>
    </div>
   
</div>
